<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" 
            name="AnvilLog" 
            archiveAboveSize="200000"
            maxArchiveFiles="5"
            fileName="${basedir}/logs/anvil_editor.log"
            layout="${longdate} ${uppercase:${level}} ${message}" 
            archiveNumbering="Date"
            archiveEvery="Day"
            concurrentWrites="false"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="AnvilLog" />
  </rules>
</nlog>